.login-layout-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;

  .login-left {
    height: 1000px;
    background-color: $color-primary;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .login-form {
    height: 100vh;
    border-radius: 10px;
    padding: 200px 200px;
  }

  .link-login {
    margin-top: 10px;
    color: $color-primary;
    text-decoration: underline;
  }

  .login-form-header {
    color: $color-primary;
    font-size: 48px;
    font-weight: 700;
  }

  .ant-input-password {
    padding: 0px 20px;
  }

  input {
    font-family: $base-font-family;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 20px;
    transition: ease 0.3s;

    &:focus-visible {
      outline: none;
      border-color: $color-primary;
    }
  }

  .btn-login {
    height: 46px;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    background-color: $color-primary;
  }
}